services/nodered/nodered_data/.flows.json.backup
[
    {
        "id": "824a93dcd63b1bf6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "680cfb6b28ad7d2c",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "49df301d3d54633e",
        "type": "mqtt in",
        "z": "824a93dcd63b1bf6",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "680cfb6b28ad7d2c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "8c347af940dae49b"
            ]
        ]
    },
    {
        "id": "8c347af940dae49b",
        "type": "debug",
        "z": "824a93dcd63b1bf6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "a5ea5e86433e68f6",
        "type": "inject",
        "z": "824a93dcd63b1bf6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "49df301d3d54633e"
            ]
        ]
    }
]